.logo {
    width: 100%;
}

.login {
    max-width: 330px;
    padding: 15px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.login .form-control:focus {
    z-index: 2;
}
  